# Schrodinger Outputs
*.maegz
*.mae
*.zip
*.log
*.csv
*.rept
*.txt
!README.md
!USER_GUIDE.txt

# Input Data & Structures (Excluded from GitHub)
*.pdb
DATA/*.csv
DATA/*.pdb

# Scratch/Temporary Directories
SCRATCH_*
SCRATCH/
scratch/
tmp/
temp/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Results and Backups
RESULTS/
results_backup/
CovDockResults/

# OS files
.DS_Store
Thumbs.db
